{% set header_title = 'Play-And-Earn' %}
{% set header_title_show = false %}
{% set header_text = '
    <h1 class="nk-title display-3">
        <img src="assets/images/header.png" alt="" class="sorcerer-header">
    </h1>

    <div class="nk-gap-2"></div>
    <a href="index-game-promo.html" class="nk-btn nk-btn-lg nk-btn-color-main-1 link-effect-4">
        <span>Play Now</span>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="page-coming-soon.html" class="nk-btn nk-btn-lg link-effect-4">
        <span>Instructions</span>
    </a>

    <div class="nk-gap-4"></div>
' %}
{% set header_image = 'assets/images/image-1.jpg' %}
{% set header_size = 'lg' %}
{% extends 'layouts/layout-2.html' %}

{% block content %}
    <!-- START: Rev Slider -->
    <div class="mnt-80">
        <div id="rev_slider_50_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="photography-carousel48" style="padding:0px;">
            <div id="rev_slider_50_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-185" data-transition="slideoverhorizontal" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="assets/images/gallery-3-thumb.jpg"  data-rotate="0"  data-saveperformance="off">
                        <!-- MAIN IMAGE -->
                        <img src="assets/images/gallery-3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-192" data-transition="slideoververtical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="assets/images/gallery-5-thumb.jpg"  data-rotate="0"  data-saveperformance="off">
                        <!-- MAIN IMAGE -->
                        <img src="assets/images/gallery-5.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-186" data-transition="slideoverhorizontal" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="assets/images/gallery-4-thumb.jpg"  data-rotate="0"  data-saveperformance="off">
                        <!-- MAIN IMAGE -->
                        <img src="assets/images/gallery-4.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-183" data-transition="slideoververtical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="assets/images/gallery-1-thumb.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off">
                        <!-- MAIN IMAGE -->
                        <img src="assets/images/gallery-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div>
    </div>
    <!-- END: Rev Slider -->

    <!-- START: Features -->
    <div class="container">
        <div class="nk-gap-6"></div>
        <div class="nk-gap-2"></div>
        <div class="row vertical-gap lg-gap">
            <div class="col-md-4">
                <div class="nk-ibox">
                    <div class="nk-ibox-icon nk-ibox-icon-circle">
                        <span class="ion-ios-game-controller-b"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h2 class="nk-ibox-title">3D Gaming</h2>
                        Experience hardcore gaming with larger than life massive landscapes and hyper-realistic assets.
                        We love to push the edges to the extreme limit. 

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox">
                    <div class="nk-ibox-icon nk-ibox-icon-circle">
                        <span class="ion-fireball"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h2 class="nk-ibox-title">DEFI</h2>
                        SORCERERS integrates basic concepts of Decentralized Finance (DeFi) for a loss-less strategy and a more robust game economy.
                        A never-seen and unequaled earning potential for our community. 
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-ibox">
                    <div class="nk-ibox-icon nk-ibox-icon-circle">
                        <span class="ion-ribbon-a"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h2 class="nk-ibox-title">NFT</h2>
                        Own, rent, borrow and trade unique assets for in-game utility. A collateral-less lending and borrowing of game assets for income generation. In our in-game marketplace, your SORCERERS NFTs can now earn you income while you're not playing the game. UNREAL!!!
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-2"></div>
        <div class="nk-gap-6"></div>
    </div>
    <!-- END: Features -->

    <!-- START: About -->
    <div class="nk-box bg-dark-1">
        <div class="container text-center">
            <div class="nk-gap-6"></div>
            <div class="nk-gap-2"></div>
            <h2 class="nk-title h1">About SORCERERS</h2>
            <div class="nk-gap-3"></div>

            <p class="lead">SORCERERS is an immersive, AAA, 3D military strategy blockchain game that pays to play.
                Born out of the need to solve the known problems currently plaguing the blockchain gaming ecosystem, 
                SORCERERS is at the melting point of NFT, DEFI and 3D gaming. 
                A multi-platform and multi-protocol play-and-earn blockchain application with enjoyable game-play built with Unreal Engine.
            
                Players have the opportunity to own unique digital assets, not only valuable but have real in-game use case. 
                SORCERERS is also implementing the concept of "collateral-less" NFT Leasing for non-stop, full-circle  earning potential. 
                Players can now earn while they play their favourite game and when they are not playing.
                
                SORCERERS is not sacrificing fun at the expense of reward. The game hopes to achieve a fine balance between 
                fun and reward.
            </p>

            <div class="nk-gap-2"></div>
            <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="nk-box-2 nk-box-line">
                        <!-- START: Counter -->
                        <div class="nk-counter-3">
                            <div class="nk-count">800</div>
                            <h3 class="nk-counter-title h4">Unique Medieval Cities</h3>
                            <div class="nk-gap-1"></div>
                        </div>
                        <!-- END: Counter -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-box-2 nk-box-line">
                        <!-- START: Counter -->
                        <div class="nk-counter-3">
                            <div class="nk-count">2200</div>
                            <h3 class="nk-counter-title h4">Mercenary Units</h3>
                            <div class="nk-gap-1"></div>
                        </div>
                        <!-- END: Counter -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-box-2 nk-box-line">
                        <!-- START: Counter -->
                        <div class="nk-counter-3">
                            <div class="nk-count">2000</div>
                            <h3 class="nk-counter-title h4">Armies</h3>
                            <div class="nk-gap-1"></div>
                        </div>
                        <!-- END: Counter -->
                    </div>
                </div>
            </div>
            <div class="nk-gap-2"></div>
            <div class="nk-gap-6"></div>
        </div>
    </div>
    <!-- END: About -->

    <!-- START: Video -->
    
    <div class="container">
        <div class="nk-gap-6"></div>
        <h2 class="nk-title h1 text-center">Watch The Trailer</h2>
        <div class="nk-gap-2"></div>
        <div class="row">
           
            <div class="col-md-8 offset-md-2">
                <div class="nk-plain-video" data-video="https://youtu.be/YvVVd6FRmcs" data-video-thumb="assets/images/video-6-thumb.jpg"></div>
                <!-- <div class="nk-plain-video" data-video="" data-video-thumb="assets/images/video-6-thumb.jpg"></div> -->
            </div>
        </div>
        <div class="nk-gap-2"></div>
        <div class="nk-gap-6"></div>
    </div>
    <!-- END: Video -->

    <!-- START: Coming Soon -->
    <div class="nk-box bg-dark-1 text-center">
        <div class="nk-gap-6"></div>
        <div class="nk-gap-2"></div>
        <div class="bg-image op-3">
            <img src="assets/images/image-3.jpg" alt="" class="jarallax-img">
        </div>
        <div class="container">
            <h2 class="display-4">SORCERERS</h2>
            <div class="nk-gap">There is no hunting like the hunting of man, and those who have hunted armed men long enough and liked it, never care for anything else thereafter.
            </div>
            <div class="nk-gap">… Ernest Hemmingway.
            </div>

            <div class="nk-gap-4"></div>
            <a href="index-game-promo.html" class="nk-btn nk-btn-lg nk-btn-color-main-1 link-effect-4">
                <span>Get Started</span>
            </a>
            <div class="nk-gap-4"></div>
<!-- 
            <div><h2>Get Whitelisted</h2></div>
            <div class="nk-gap-4"></div>
            <a href="#" class="nk-btn nk-btn-lg nk-btn-color-main-1 link-effect-4">
                <span>Enter The Whitelist</span>
            </a> -->

            <div class="nk-countdown" data-end="2022-04-26 08:20" data-timezone="EST"></div>
        </div>
        <div class="nk-gap-2"></div>
        <div class="nk-gap-6"></div>
    </div>
    <!-- END: Coming Soon -->

    <!-- START: Testimonials -->
    <div class="nk-gap-6"></div>
    <h2 class="display-4 text-center">The Team</h2>
    <div class="nk-gap-2"></div>
    <div class="nk-carousel-2" data-autoplay="12000" data-dots="true">
        <div class="nk-carousel-inner">
            <div><div>
                <blockquote class="nk-testimonial-2">
                    <!-- <div class="nk-testimonial-photo" style="background-image: url('{{ users[0].avatar_sm }}');"></div> -->
                    <div class="nk-testimonial-body">
                        <em>"Fullstack Software Engineer and Blockchain Developer. With more than a decade of combined professional experience, George also has experience in corporate, commercial and international banking."</em>
                    </div>
                    <div class="nk-testimonial-name h4">George Gbenle</div>
                    <div class="nk-testimonial-source">Creator</div>
                </blockquote>
            </div></div>
         
        </div>
    </div>
    <div class="nk-gap-2"></div>
    <div class="nk-gap-6"></div>
    <!-- END: Testimonials -->

    <!-- START: Subscribe -->
    <div class="nk-box bg-dark-1">
        <!-- <div class="nk-gap-6"></div> -->
        <div class="nk-gap-2"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <h2 class="nk-title text-center h1">CONTACT US</h2>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="nk-box-3 bg-dark-1">
                                <h2 class="nk-title h3 text-center">Drop Us a Line</h2>
                                <div class="nk-gap-2"></div>
                                <form action="https://getform.io/f/ad233ee6-badd-4eac-8866-d9ca544afade" method="POST" >
                                    <!-- <input type="email" class="form-control " name="email" placeholder="Email *">
                                    <div class="nk-gap-1"></div> -->
                                    <!-- <input type="text" class="form-control required" name="name" placeholder="Name *">
                                    <div class="nk-gap-1"></div> -->
                                    <textarea class="form-control required" name="message" rows="5" placeholder="Message *"></textarea>
                                    <div class="nk-gap-1"></div>
                                    <div class="nk-form-response-success"></div>
                                    <div class="nk-form-response-error"></div>
                                    <button class="nk-btn nk-btn-lg link-effect-4">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="nk-gap-3"></div>
                    
                    <!-- START: MailChimp Signup Form -->
                    <!-- <form action="//nkdev.us11.list-manage.com/subscribe/post?u=d433160c0c43dcf8ecd52402f&amp;id=68d0448ee3" method="post" class="nk-mchimp validate" target="_blank">
                        <div class="input-group">
                            <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Email *">
                            <button class="nk-btn nk-btn-lg link-effect-4">Subscribe</button>
                        </div>
                        <div class="nk-form-response-success"></div>
                        <div class="nk-form-response-error"></div>
                        <small>We'll never share your email with anyone else.</small> -->
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d433160c0c43dcf8ecd52402f_68d0448ee3" tabindex="-1" value=""></div>
                    </form> -->
                    <!-- END: MailChimp Signup Form -->

                    
                </div>
            </div>
        </div>
        <div class="nk-gap-2"></div>
        <!-- <div class="nk-gap-6"></div>
        <div class="nk-gap-4"></div> -->
  
    <!-- END: Subscribe -->

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        var tpj=jQuery;
        var revapi50;
        tpj(document).ready(function() {
            if(tpj("#rev_slider_50_1").revolution == undefined){
                revslider_showDoubleJqueryError("#rev_slider_50_1");
            }else{
                revapi50 = tpj("#rev_slider_50_1").show().revolution({
                    sliderType:"carousel",
                    jsFileLocation:"assets/vendor/revolution/js/",
                    sliderLayout:"auto",
                    dottedOverlay:"none",
                    delay:9000,
                    navigation: {
                        keyboardNavigation:"off",
                        keyboard_direction: "horizontal",
                        onHoverStop:"off",
                    },
                    carousel: {
                        maxRotation: 8,
                        vary_rotation: "off",
                        minScale: 20,
                        vary_scale: "off",
                        horizontal_align: "center",
                        vertical_align: "center",
                        fadeout: "off",
                        vary_fade: "off",
                        maxVisibleItems: 3,
                        infinity: "on",
                        space: -90,
                        stretch: "off"
                    },
                    responsiveLevels:[1240,1024,778,480],
                    gridwidth:[800,600,400,320],
                    gridheight:[600,400,320,280],
                    lazyType:"none",
                    shadow:0,
                    spinner:"off",
                    stopLoop:"on",
                    stopAfterLoops:0,
                    stopAtSlide:0,
                    shuffle:"off",
                    autoHeight:"off",
                    fullScreenAlignForce:"off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    disableProgressBar:"on",
                    hideThumbsOnMobile:"off",
                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    debugMode:false,
                    fallbacks: {
                        simplifyAll:"off",
                        nextSlideOnWindowFocus:"off",
                        disableFocusListener:false,
                    }
                });
            }
        });
    </script>
{% endblock %}
