{% set header_title = 'Play-And-Earn' %}
{% set header_title_show = false %}
{% set header_text = '

<!-- Remember background image is saved as image-1.jpg. It was deleted -->
    <h1 class="nk-title display-3">SORCERERS</h1>
    
    <div class="sub">
        The 3D military strategy game that pays to play.
    </div>

    <div class="nk-gap-3"></div>
    <a href="https://getSORCERERS.gitbook.io/whitepaper/" target="_blank" class="nk-btn nk-btn-lg nk-btn-color-main-1 link-effect-4">
        <span>Whitepaper</span>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="index-main.html" class="nk-btn nk-btn-lg link-effect-4">
        <span>Enter The Site</span>
    </a>
' %}
{% set header_image = 'assets/images/image-1.png' %}
{% set header_size = 'md' %}
{% set header_visible = 6 %}
{% extends 'layouts/layout-2.html' %}

{% block content %}
    <!-- START: Demos -->
    <div class="container" id="demos">
        <div class="nk-gap-6"></div>
        <div class="row vertical-gap lg-gap">
            <div class="col-md-6">
                <div class="nk-image-box-1-a nk-no-effect">
                    <a href="index-main.html" class="nk-image-box-link"></a>
                    <img src="assets/images/demo-main.jpg" alt="Main Demo">
                    <div class="nk-image-box-overlay nk-image-box-center">
                        <div>
                            <h3 class="nk-image-box-title h4">Enter The Site</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="nk-image-box-1-a nk-no-effect">
                    <a href="index-game-promo.html" class="nk-image-box-link"></a>
                    <img src="assets/images/demo-game-promo.jpg" alt="Game Asset">
                    <div class="nk-image-box-overlay nk-image-box-center">
                        <div>
                            <h3 class="nk-image-box-title h4">Play Now</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-6"></div>
    </div>
    <!-- END: Demos -->

    <div class="nk-gap-4"></div>
    <div class="container">
        <div class="text-center">
            <h2 class="nk-title display-4">SORCERERS</h2>
            <p>The Military Strategy Game That Pays To Play</p>
            <div class="nk-title-sep-icon">
                <span class="icon"><span class="ion-clock"></span></span>
            </div>
            <div class="nk-gap-2"></div>
            <h3 class="nk-title display-4">SEASON I</h3>
            <h3 class="nk-title display-4">COMING SOON</h3>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p class="lead">Know thy self, know thy enemy. A thousand battles, a thousand victories.
                    </p>
                    <p>...Sun Tzu</p>

                    <div class="nk-gap-2"></div>
                    <div class="nk-countdown" data-end="2023-03-31 23:59" data-timezone="EST"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-gap-4"></div>

    <h2 class="nk-title display-4 text-center">ROADMAP</h2>

<div class="roadmap last">

  <ul class="timeline">
  
    <!-- Item 1 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Ideation</span>
          <span class="time-wrapper"><span class="time">Q4 - 2021</span></span>
        </div>
        <div class="desc">Development begins.</div>
      </div>
    </li>
    
    <!-- Item 2 -->
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">Market Validations</span>
          <span class="time-wrapper"><span class="time">Q1 - 2022</span></span>
        </div>
        <div class="desc">Market survey & research. Hackathons and Accelerators</div>
      </div>
    </li>
  
    <!-- Item 3 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Promotions begin</span>
          <span class="time-wrapper"><span class="time">Q2 - 2022</span></span>
        </div>
        <div class="desc">Promotions & Marketing</div>
      </div>
    </li>

    <!-- Item 4 -->
    <li>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="flag">SORCERERS-NFT launch</span>
            <span class="time-wrapper"><span class="time">Q1 - 2023</span></span>
          </div>
          <div class="desc">Official launch of SORCERERS game assets.</div>
        </div>
    </li>

    <!-- Item 5 -->
    <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">Marketplace release</span>
            <span class="time-wrapper"><span class="time">Q1 - 2023</span></span>
          </div>
          <div class="desc">In-House SORCERERS-NFT Marketplace release</div>
        </div>
    </li>

    <!-- Item 6 -->
    <li>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="flag">Free-To-Play version</span>
            <span class="time-wrapper"><span class="time">Q1 - 2023</span></span>
          </div>
          <div class="desc">First game release.</div>
        </div>
    </li>

    <!-- Item 7 -->
    <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">NFT lending</span>
            <span class="time-wrapper"><span class="time">Q2 - 2023</span></span>
          </div>
          <div class="desc">SORCERERS-NFT collateral-less lending and renting release</div>
        </div>
    </li>

    <!-- Item 8 -->
    <li >
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="flag">V.1.0 Game release</span>
            <span class="time-wrapper"><span class="time">Q4 - 2023</span></span>
          </div>
          <div class="desc">Official launch of version 1.0 of SORCERERS military strategy game on PC.</div>
        </div>
    </li>
    
  </ul> 

  </div> 
  <div class="nk-gap-2"></div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        var tpj=jQuery;
        var revapi50;
        tpj(document).ready(function() {
            if(tpj("#rev_slider_50_1").revolution == undefined){
                revslider_showDoubleJqueryError("#rev_slider_50_1");
            }else{
                revapi50 = tpj("#rev_slider_50_1").show().revolution({
                    sliderType:"carousel",
                    jsFileLocation:"assets/vendor/revolution/js/",
                    sliderLayout:"auto",
                    dottedOverlay:"none",
                    delay:9000,
                    navigation: {
                        keyboardNavigation:"off",
                        keyboard_direction: "horizontal",
                        onHoverStop:"off",
                    },
                    carousel: {
                        maxRotation: 8,
                        vary_rotation: "off",
                        minScale: 20,
                        vary_scale: "off",
                        horizontal_align: "center",
                        vertical_align: "center",
                        fadeout: "off",
                        vary_fade: "off",
                        maxVisibleItems: 3,
                        infinity: "on",
                        space: -90,
                        stretch: "off"
                    },
                    responsiveLevels:[1240,1024,778,480],
                    gridwidth:[800,600,400,320],
                    gridheight:[600,400,320,280],
                    lazyType:"none",
                    shadow:0,
                    spinner:"off",
                    stopLoop:"on",
                    stopAfterLoops:0,
                    stopAtSlide:0,
                    shuffle:"off",
                    autoHeight:"off",
                    fullScreenAlignForce:"off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    disableProgressBar:"on",
                    hideThumbsOnMobile:"off",
                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    debugMode:false,
                    fallbacks: {
                        simplifyAll:"off",
                        nextSlideOnWindowFocus:"off",
                        disableFocusListener:false,
                    }
                });
            }
        });
    </script>
{% endblock %}
